@model LibraryManagementSystem2.Models.Reader

<h1 class="mb-4">Delete Reader</h1>
<div class="alert alert-danger">
    Are you sure you want to delete the following reader?
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">ID: @Model.Id</h5>
        <h5 class="card-title">@Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Email: @Model.Email</h6>
    </div>
</div>
<form method="post" asp-action="DeleteConfirmed">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger mt-3">Delete</button>
    <a href="/Reader" class="btn btn-secondary mt-3">Cancel</a>
</form>
