@model LibraryManagementSystem2.Models.Reader

<h1 class="mb-4">Reader Details</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">ID: @Model.Id</h5>
        <h5 class="card-title">@Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Email: @Model.Email</h6>
    </div>
</div>
<a href="/Reader" class="btn btn-secondary mt-3">Back to List</a>
